<!--The content below is only a placeholder and can be replaced.-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<md-sidenav-container class="example-container">
  <div class="example-sidenav-content">
  <i class="fa fa-bell" (click)="sidenav.open()" ></i>
  <span class="user">Johnny Appleased</span>    
  </div>

  <md-sidenav #sidenav align="end" class="example-sidenav">
    
<div class="notification-panel">
<div class="datestyle">Monday Sept 12, 2016</div>
<hr class="borderline">
<div class="notification-row">
<div class="notificationnumbers">56
<div class="notificationtitle">AssignedTask</div></div>
<div class="notificationnumbers">04
<div class="notificationtitle">Reminders</div></div>
<div class="notificationnumbers">20
<div class="notificationtitle">Notifications</div></div>
</div>

<div class="dialog">
  <a href="#" class="workspace">Go to My Workspace <i class="fa fa-angle-right"></i></a>
</div>
<div>
 <span class= "contentheader">Just now</span>
  <a href="#" class="close-classic"></a>
</div>
  <div class="details">the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>

<br><hr class="detailline"><br>
<div>
 <span class= "contentheader">29 Minutes Ago</span>
  <a href="#" class="close-classic"></a>
</div>
  <div class="details">the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>

<br><hr class="detailline"><br>
<div>
 <span class= "contentheader">1 Hour Ago</span>
  <a href="#" class="close-classic"></a>
</div>
  <div class="details">the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>

<br><hr class="detailline"><br>
<div>
 <span class= "contentheader">Yesterday</span>
  <a href="#" class="close-classic"></a>
</div>
  <div class="details">the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>

</div>
  </md-sidenav>

</md-sidenav-container>

